.button {
  -fx-text-fill: #006464;
  -fx-background-color: #3FB0C9;
  -fx-border-radius: 15;
  -fx-background-radius: 10;
  -fx-padding: 8;
}

.text-area {
  -fx-padding: 10;
  -fx-border-style: solid inside;
  -fx-border-width: 2;
  -fx-border-insets: 5;
  -fx-border-radius: 5;
  -fx-border-color: #336699;
}

.grid-pane{
  -fx-padding: 10;
  -fx-border-style: solid inside;
  -fx-border-width: 2;
  -fx-border-insets: 5;
  -fx-border-radius: 5;
  -fx-border-color: grey;
}

.hbox{
  -fx-background-color: #336699;
}

.group {
  -fx-padding: 10;
  -fx-border-style: solid inside;
  -fx-border-width: 2;
  -fx-border-insets: 5;
  -fx-border-radius: 5;
  -fx-border-color: grey;
}
